@inject IJSRuntime js

<div>
    <GenericListComponent GenericList="Movies">
        <ListAny Context="movie">
            <MovieSingleComponent Movie="movie" DeleteMovie="DeleteMovie" />
        </ListAny>
    </GenericListComponent>
</div>

@code {
    [Parameter]
    public List<MovieDto> Movies { get; set; }

    private async Task DeleteMovie(MovieDto movie)
    {
        bool confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete the movie {movie.Title}?");

        //if (confirm)
        //{
            //Movies.Remove(movie);
            //Console.WriteLine($"Deleting movie {movie.Title}");
//            await js.InvokeVoidAsync("console.log", $"Deleting movie {movie.Title}");
        //}
    }
}
