@using Model.Entities

<div style="margin-right: 2%; margin-bottom: 10px; text-align: center;">
    <a href="movie">
        @if(!string.IsNullOrEmpty(Movie.Poster))
        {
            <img src="@Movie.Poster" alt="Poster" style="width: 225px; height: 300px" />
        }
        else
        {
            <img src="https://www.genius100visions.com/wp-content/uploads/2017/09/placeholder-vertical.jpg" alt="Poster placeholder" style="width: 225px; height: 300px" />
        }
    </a>
    <p style="max-width: 225px; height: 45px; font-size: 15px; font-weight: bold;"><a href="movie">@Movie.TitleFit</a></p>
    <div>
        <a href="movies/edit/@Movie.Id" class="btn btn-sm btn-primary" style="color: white;">Edit</a>
        <button class="btn btn-sm btn-danger" @onclick="() => DeleteMovie.InvokeAsync(Movie)">Delete</button>
    </div>
</div>

@code {
    [Parameter]
    public MovieDto Movie { get; set; }
    [Parameter]
    public EventCallback<MovieDto> DeleteMovie { get; set; }
}
