@inject IGenreApi genreApi
@inject IActorApi actorApi

<EditForm Model="Movie" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">Title:</label>
        <InputText class="form-control" @bind-Value="Movie.Title"></InputText>
        <ValidationMessage For="@(() => Movie.Title)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Poster:</label>
        <InputText class="form-control" @bind-Value="Movie.Poster"></InputText>
        <ValidationMessage For="@(() => Movie.Poster)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Release Date:</label>
        <InputDate class="form-control" @bind-Value="Movie.ReleaseDate"></InputDate>
        <ValidationMessage For="@(() => Movie.ReleaseDate)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Genres:</label>
        <InputSelectMultiple Items="_genres" MapValue="(x => x.Id)" MapText="(x => x.Name)" ReturnSelectedValues="GetSelectedGenres" />
    </div>
    <div class="mb-3">
        <label class="form-label">Actors:</label>
        <InputSelectMultiple Items="_actors" MapValue="(x => x.Id)" MapText="@(x => $"{x.FirstName} {x.LastName}")" ReturnSelectedValues="GetSelectedActors" />
    </div>
    <div>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</EditForm>

@code {
    [Parameter] public MovieDto Movie { get; set; }
    [Parameter] public List<GenreDto> Genres { get; set; }
    [Parameter] public List<ActorDto> Actors { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private List<GenreDto> _genres = new();
    private List<ActorDto> _actors = new();

    private void GetSelectedGenres(List<int> selectedGenres)
    {
        List<GenreDto> movieGenres = new();

        foreach (var id in selectedGenres)
        {
            var genre = _genres.Find(g => g.Id == id);

            if (genre is not null)
                movieGenres.Add(genre);
        }

        Movie.Genres = movieGenres;
    }

    private void GetSelectedActors(List<int> selectedActors)
    {
        List<ActorDto> movieActors = new();

        foreach (var id in selectedActors)
        {
            var actor = _actors.Find(a => a.Id == id);

            if (actor is not null)
                movieActors.Add(actor);
        }

        Movie.Actors = movieActors;
    }

    protected async override Task OnInitializedAsync()
    {
        if (Genres.Any())
            _genres = Genres;
        else
            _genres = await genreApi.Get();

        if (Actors.Any())
            _actors = Actors;
        else
            _actors = await actorApi.Get();
    }
}
