@page "/movies/edit/{id:int}"
@inject IGenreApi genreApi
@inject IActorApi actorApi
@inject IMovieApi movieApi
@inject NavigationManager navigationManager

<h3 class="display-6 mb-2">Edit movie</h3>
<MovieAddEditForm Movie="_model" OnValidSubmit="Edit"></MovieAddEditForm>
@if (_showError)
{
    <p class="text-danger">The request could not be processed</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private MovieDto _model = new();
    private List<GenreDto> _genres = new();
    private List<ActorDto> _actors = new();
    private bool _loading = false;
    private bool _showError = false;

    protected override async Task OnInitializedAsync()
    {
        _model = await movieApi.GetById(Id);
    }

    private async Task Edit()
    {
        _loading = true;
        var result = await movieApi.Update(_model);

        if (result is null)
        {
            navigationManager.NavigateTo("movies");
        }
        else
        {
            _showError = true;
            Console.WriteLine(result);
        }

        _loading = false;
    }
}
