@page "/movies"
@inject IMovieApi movieApi

<h3 class="display-6 mb-2">Movies</h3>
<div class="mt-4 mb-2">
        <a href="movies/add" class="btn btn-dark">Add movie</a>
</div>
<MovieListComponent Movies="_model" />

@code {
    private List<MovieDto> _model = new();

    protected async override Task OnInitializedAsync()
    {
        _model = await movieApi.Get();
    }
}